NODE_ENV=development
PORT=3000

DATABASE_URL=postgres://postgres:postgres@localhost:5432/capacity

KAFKA_BROKERS=localhost:19092
KAFKA_CLIENT_ID=capacity-service
KAFKA_CONSUMER_GROUP_ID=capacity-service-treasury-consumer
JWT_SECRET=local-dev-secret-change-me

SWAGGER_ENABLED=true

